span{
    color: rgba(14, 10, 10, 0.726);
}
a i{
    color: rgba(0, 0, 0, 0.637);
}
i{
    color:rgba(0, 0, 0, 0.678)
}
#pagesDropdown{
    color: rgba(0, 0, 0, 0.137);
}
#wrapper{
    padding-top: 10px;
}