{% extends 'base_home.html.twig' %}

{% block title %}Aide | S-Money{% endblock %}
{% block stylesheets %}
    <!-- Bootstrap core CSS -->
    {# <link href="{{asset('accueil/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet"> #}

    <!-- Custom styles for this template -->
    <link href="{{asset('accueil/css/simple-sidebar.css')}}" rel="stylesheet">
{% endblock %}
    
{% block body %}
    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        {% include "accueil/sidebar.html.twig" %}
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{{path('accueil')}}">Accueil</a>
            </li>
            <li class="breadcrumb-item active">help</li>
          </ol>
                <section id="faq" class="faq">

                    <div class="container" data-aos="fade-up">

                        <header class="section-header">
                        <h2>Q.F.P</h2>
                        <p>Questions fréquemment posées</p>
                        </header>
    
                        <div class="row">
                            <div class="col-lg-12">
                                <p> <center>Vous trouverez ci-dessous les réponses à un grand nombre de vos questions.</center>
                                <center>Si vous avez besoin d'informations supplémentaires, n'hésitez pas à contacter 
                                le service client SEND MONEY au +221 823 63 34, ou envoyez un e-mail à ibrahimahamada001a@gmail.com.</center>
                                </p>
                            </div>
                            <div class="col-lg-6">
                                <!-- F.A.Q List 1-->
                                <div class="accordion accordion-flush" id="faqlist1">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                                            Qui utilise les services de transfert d'argent SEND MONEY?
                                        </button>
                                        </h2>
                                        <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                                            <div class="accordion-body">
                                                Les services de SEND MONEY s'adressent à toute personne ayant besoin d'envoyer ou de recevoir 
                                                de l'argent rapidement. Des voyageurs aux personnes aidant des amis ou des proches vivant d'une ville à un aute ou d'un region à un autre, voire meme d'une quartier à un autre,
                                                en passant par des personnes en déplacement professionnel 
                                                ayant besoin de faire rapidement des virements au niveau national.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                                            Qui sont les agents SEND MONEY au sénégal?
                                        </button>
                                        </h2>
                                        <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                                            <div class="accordion-body">
                                                Ce sont les partenaires bancaires de SEND MONEY qui vous aideront à envoyer ou recevoir de l'argent.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                                            Comment puis-je trouver une agence SEND MONEY au Sénégal?
                                        </button>
                                        </h2>
                                        <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                                            <div class="accordion-body">
                                                Vous pouvez facilement localiser en ligne l'emplacement d'une agence, il vous suffit d'utiliser notre localisateur.
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-lg-6">

                                <!-- F.A.Q List 2-->
                                <div class="accordion accordion-flush" id="faqlist2">

                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-1">
                                            Comment puis-je savoir si un transfert d'argent est disponible pour retrait?
                                        </button>
                                        </h2>
                                        <div id="faq2-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                                            <div class="accordion-body">
                                            Vous reservez une message contenant votre nom et prenom ainsi que le numéro de contrôle du transfert d'argent (MTCN).
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-2">
                                            Quand puis-je me rendre dans une agence SEND MONEY?
                                        </button>
                                        </h2>
                                        <div id="faq2-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                                            <div class="accordion-body">
                                                Chaque agence SEND MONEY a ses propres horaires d'ouverture. Généralement, il s'agit des heures d'ouverture des banques.
                                                Trouver une agence SEND MONEY à proximité.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-3">
                                            Comment dois-je faire pour envoyer de l'argent en ligne?
                                        </button>
                                        </h2>
                                        <div id="faq2-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                                            <div class="accordion-body">
                                            Pour envoyer de l'argent, Il faut se rendres auprès de l'une de nos agences et déposer par espéce.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
{% endblock %}